<section id="error">
    <div class="container-empty text-center d-flex flex-column py-4">
        <img src="/img/404error.png">
        <h3>The Page You Requested was Not Found</h3>
        <div>
          <a href="/" class="btn-primary btn rounded">Go Back</a>
        </div>
      </div>
</section>