<section id="admin-panel">
    <div class="container">
        <h5>Customer Orders</h5>
        <div class="order-section">
            <table class="table">
                <thead>
                    <tr>
                        <th class="border px-4 py-2 text-left">Orders</th>
                        <th class="border px-4 py-2 text-left">Customer</th>
                        <th class="border px-4 py-2 text-left">Address</th>
                        <th class="border px-4 py-2 text-left">Status</th>
                        <th class="border px-4 py-2 text-left">Placed at</th>
                    </tr>
                </thead>
                <tbody id="orderTableBody">
                </tbody>
            </table>
        </div>
    </div>
</section>